@use '../tokens/variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 18px 50px;
  width: 100%;
  border-radius: $radius-md;
  border: 1px solid transparent;
  background: $color-primary;
  color: $color-white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;

  transition: background 0.2s ease, transform 0.06s ease;
  &:hover {
    background: #a70f0d;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px;
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.button--secondary {
  background: $color-text;
  color: $color-white;
  &:hover {
    background: $color-primary;
  }
}
