@use '../tokens/variables' as *;

.slider {
  background-color: $color-muted;
  padding: $space-8 $space-4;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 800;
    margin: 0;
  }
  &__title-highlight {
    color: $color-primary;
  }
  &__slide-title {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    margin-top: $space-10;
  }
  &__slide-description {
    display: flex;
    justify-self: center;
    max-width: 524px;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &__slide-ingredients {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: $space-8;
    justify-content: center;
    align-items: center;
    padding-top: $space-8;
  }
  &__slide-ingredient {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    justify-content: center;
    align-items: center;
  }
  &__slide-ingredient-image {
    width: 112px;
    height: auto;
    object-fit: cover;
  }
  &__slide-ingredient-name {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0;
    max-width: 112px;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: $space-10;
    margin: $space-12 auto $space-8;
    width: max-content;
  }
  &__arrow {
    background: none;
    border: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
  &__arrow-icon {
    width: 16px;
    height: auto;
  }
  &__pagination {
    display: flex;
    gap: 12px;
  }
  &__bullet.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.5px solid $color-text;
    background: transparent;
    opacity: 1;
    transition: transform 0.2s, background 0.2s;
  }
  &__bullet.swiper-pagination-bullet-active {
    background: $color-text;
    transform: scale(1.2);
  }
  @media (min-width: 768px) {
    padding: $space-16 0;
    &__ingredient-name {
      font-size: 1rem;
    }
    &__slide-description {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 102px;
    }
    &__slide-text {
      text-align: left;
      justify-items: start;
      max-width: 350px;
    }
    &__slide-title {
      text-align: left;
    }

    &__slide-description {
      text-align: left;
      justify-self: flex-start;
    }

    &__slide-ingredients {
      justify-items: start;
      padding-top: $space-10;
    }
  }
}
