@use '../tokens/variables' as *;

.recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-8;
  padding: $space-10;
  &__logo {
    width: 133px;
    height: 133px;
  }
  &__title {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    max-width: 350px;
    text-align: center;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    &__title {
      font-size: 1rem;
    }
  }
}
