@use '../tokens/variables' as *;

.subscribe {
  padding: $space-16 0;
  position: relative;
  background-color: $color-text;

  &__title {
    font-size: 1.375rem;
    font-weight: 600;
    color: $color-white;
    position: absolute;
    right: 12px;
    writing-mode: sideways-lr;
    text-align: start;
    margin: 0;
    z-index: 1;
  }

  &__list {
    list-style: none;
    padding-inline: $space-5;
    display: flex;
    flex-direction: column;
    gap: $space-8;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $space-6;
    font-size: 1rem;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin: 0;
    &:hover .subscribe__icon {
      transform: scale(1.2);
    }
  }

  &__icon {
    transform-origin: center;
    transition: transform 0.15s ease;
  }

  @media (min-width: 768px) {
    padding: $space-10 0;

    &__title {
      position: static;
      writing-mode: horizontal-tb;
      text-align: center;
      margin-bottom: $space-8;
    }

    &__list {
      display: grid;
      flex-direction: row;
      grid-template-columns: repeat(3, max-content);
      align-items: center;
      justify-content: center;
      gap: 92px;
      justify-self: center;
    }

    &__item {
      display: grid;
      gap: $space-4;
      justify-self: center;
      text-align: center;
      justify-items: center;
      max-width: 72%;
    }
  }
}
