@use './variables' as *;

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 18px 50px;
  width: 100%;
  border-radius: $radius-md;
  border: 1px solid transparent;
  background: $color-primary;
  color: $color-white;
  text-decoration: none;
  font-weight: 400;
  cursor: pointer;

  transition: background 0.2s ease, transform 0.06s ease;
  &:hover {
    background: #a70f0d;
  }
  &:active {
    transform: translateY(1px);
  }
  &:focus-visible {
    outline: 2px solid rgba(0, 0, 0, 0.2);
    outline-offset: 2px;
  }

  @media (min-width: 768px) {
    width: auto;
  }
}

.button--secondary {
  background: $color-text;
  color: $color-white;
  &:hover {
    background: $color-primary;
  }
}

.header {
  padding: $space-4 0;
  &__bar {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
  }
  &__nav {
    display: none;
  }
  &__toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
  }
  &__logo {
    grid-column: 2;
    justify-self: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: $color-black;
    text-decoration: none;
    letter-spacing: 0.05em;
  }

  @media (min-width: 768px) {
    &__spacer {
      grid-column: 3;
    }
    &__toggle {
      display: none;
    }
    &__bar {
      grid-template-columns: 1fr auto 1fr;
      height: 48px;
    }
    &__nav {
      grid-column: 1;
      display: block;
      padding-left: $space-8;
    }
    &__list {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      gap: 24px;
      align-items: center;
    }
    &__link {
      font-size: 1rem;
      font-weight: 500;
      color: $color-text;
      text-decoration: none;
      letter-spacing: 0.05em;
    }
    &__link:hover {
      color: $color-primary;
    }
    &__link:active {
      color: $color-primary;
    }
  }
  @media (min-width: 1024px) {
    &__bar {
      grid-template-columns: 1fr 1fr;
    }
    &__nav {
      align-items: center;
      justify-self: center;
      padding-left: 0;
    }
    &__logo {
      justify-self: start;
    }
  }
}

.hero {
  position: relative;
  &__bg {
    height: 699px;
    background: top/cover no-repeat url('/images/main-img-mobile.jpg');
  }
  @media (min-width: 768px) {
    &__bg {
      height: 1024px;
      background: center/cover no-repeat url('/images/main-img-tablet.jpg');
    }
  }

  @media (min-width: 1024px) {
    &__bg {
      height: 700px;
      background-image: url('/images/main-img.jpg');
    }
  }

  &__content {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    place-content: center;
    justify-items: center;
    text-align: center;
    grid-auto-rows: max-content;
    padding: 0 $space-8;
  }

  &__title {
    font-size: 3rem;
    font-weight: 800;
    color: $color-white;
    letter-spacing: -0.01em;
    max-width: 602px;
    align-self: center;
  }

  &__button {
    align-self: end;
    margin-bottom: 50px;
    @media (min-width: 768px) {
      margin-bottom: 155px;
    }
  }
}

.benefits {
  &__list {
    margin: $space-8 auto;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 20px;
    padding: 0 $space-8;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;
    justify-content: center;
    align-items: center;
    background-color: $color-muted;
    border-radius: $radius-md;
    padding: $space-4 $space-8;
    height: 118px;
    max-width: 170px;
    transition: color 0.2s ease;
  }
  &__icon {
    width: 48px;
    height: 49px;
    flex: none;
    color: $color-text;
    &:hover {
      color: $color-primary;
    }
  }

  &__text {
    font-size: 0.875rem;
    font-weight: 400;
    color: $color-text;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin: 0;
    text-align: center;
  }

  @media (min-width: 768px) {
    &__list {
      grid-template-columns: repeat(4, max-content);
      gap: 32px;
      padding: $space-10 $space-8;
      justify-items: center;
    }
  }
  @media (min-width: 1024px) {
    &__item {
      flex-direction: row;
    }
  }
}

.subscribe {
  padding: $space-16 0;
  position: relative;
  background-color: $color-text;

  &__title {
    font-size: 1.375rem;
    font-weight: 600;
    color: $color-white;
    position: absolute;
    right: 12px;
    writing-mode: sideways-lr;
    text-align: start;
    margin: 0;
    z-index: 1;
  }

  &__list {
    list-style: none;
    padding-inline: $space-5;
    display: flex;
    flex-direction: column;
    gap: $space-8;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: $space-6;
    font-size: 1rem;
    font-weight: 400;
    color: $color-white;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin: 0;
  }

  &__icon {
    transform-origin: center;
    transition: transform 0.15s ease;
    &:hover {
      transform: scale(1.1);
    }
  }

  @media (min-width: 768px) {
    padding: $space-10 0;

    &__title {
      position: static;
      writing-mode: horizontal-tb;
      text-align: center;
      margin-bottom: $space-8;
    }

    &__list {
      display: grid;
      flex-direction: row;
      grid-template-columns: repeat(3, max-content);
      align-items: center;
      justify-content: center;
      gap: 92px;
      justify-self: center;
    }

    &__item {
      display: grid;
      gap: $space-4;
      justify-self: center;
      text-align: center;
      justify-items: center;
      max-width: 72%;
    }
  }
}

.features {
  background-color: $color-white;
  padding: $space-10 0;
  &__title {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: $space-10;
    margin: 0 $space-4;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: $space-8;
    list-style: none;
    padding: 0 $space-8;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: $space-6;
    margin: 0;
  }
  &__icon {
    width: 20px;
    height: auto;
    flex: none;
    color: $color-text;
    &:hover {
      color: $color-primary;
    }
  }
  &__text {
    font-size: 0.875rem;
    font-weight: 400;
    color: $color-text;
    text-decoration: none;
    letter-spacing: 0.05em;
    margin: 0;
  }

  @media (min-width: 768px) {
    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $space-8;
      padding: 0 120px;
    }
    &__icon {
      width: 40px;
    }
    &__text {
      font-size: 1rem;
    }
  }
  @media (min-width: 1024px) {
    &__list {
      max-width: 80%;
      grid-template-columns: repeat(3, 1fr);
      gap: $space-10 90px;
      padding: 0;
      justify-self: center;
    }
  }
}

.recommendation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: $space-8;
  padding: $space-10;
  &__logo {
    width: 133px;
    height: 133px;
  }
  &__title {
    font-size: 0.875rem;
    font-weight: 400;
    letter-spacing: 0.05em;
    max-width: 350px;
    text-align: center;
  }
  @media (min-width: 768px) {
    flex-direction: row;
    &__title {
      font-size: 1rem;
    }
  }
}

.slider {
  background-color: $color-muted;
  padding: $space-8 $space-4;
  text-align: center;

  &__title {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 800;
    margin: 0;
  }
  &__title-highlight {
    color: $color-primary;
  }
  &__slide-title {
    font-size: 1.375rem;
    font-weight: 600;
    text-align: center;
    margin-top: $space-10;
  }
  &__slide-description {
    display: flex;
    justify-self: center;
    max-width: 524px;
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
  }
  &__slide-ingredients {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: $space-8;
    justify-content: center;
    align-items: center;
    padding-top: $space-8;
  }
  &__slide-ingredient {
    display: flex;
    flex-direction: column;
    gap: $space-4;
    justify-content: center;
    align-items: center;
  }
  &__slide-ingredient-image {
    width: 112px;
    height: auto;
    object-fit: cover;
  }
  &__slide-ingredient-name {
    font-size: 0.875rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.05em;
    margin: 0;
    max-width: 112px;
  }
  &__controls {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    gap: $space-10;
    margin: $space-12 0 $space-8 0;
  }
  &__arrow {
    all: unset;
    color: $color-text;
    cursor: pointer;
    &:hover {
      color: $color-primary;
    }
  }
  &__arrow-icon {
    width: 16px;
    height: auto;
  }
  &__pagination {
    display: flex;
    gap: 12px;
  }
  &__bullet.swiper-pagination-bullet {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: 1.5px solid $color-text;
    background: transparent;
    opacity: 1;
    transition: transform 0.2s, background 0.2s;
  }
  &__bullet.swiper-pagination-bullet-active {
    background: $color-text;
    transform: scale(1.2);
  }
  @media (min-width: 768px) {
    padding: $space-16 0;
    &__ingredient-name {
      font-size: 1rem;
    }
    &__slide-description {
      font-size: 1rem;
    }
  }

  @media (min-width: 1024px) {
    .swiper-slide {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 102px;
    }
    &__slide-text {
      text-align: left;
      justify-items: start;
      max-width: 350px;
    }
    &__slide-description {
      text-align: left;
      justify-self: flex-start;
    }

    &__slide-ingredients {
      justify-items: start;
      padding-top: $space-10;
    }
  }
}

.process {
  padding: $space-8 0;
  background-color: $color-white;

  &__title {
    text-align: center;
    font-size: 3.125rem;
    font-weight: 800;
    margin: 0;
    letter-spacing: -0.01em;
    margin-bottom: $space-14;
  }
  &__list {
    list-style: none;
    padding: 0 $space-8;
  }
  &__item {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    letter-spacing: 0.05em;
  }
  &__left {
    align-items: flex-start;
  }
  &__right {
    align-items: flex-end;
    text-align: right;
  }

  &__item-icon {
    height: 48px;
    width: auto;
    margin-bottom: $space-5;
  }
  &__item-title {
    font-weight: 600;
    margin: 0;
  }
  &__item-description {
    font-weight: 400;
    margin: 0;
    max-width: 260px;
  }
  &__arrow-separator {
    text-align: center;
    margin: $space-4 auto 0;
  }
}
.process-timeline {
  display: none;
}

@media (min-width: 768px) {
  .process {
    display: none;
  }
  .process-timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $color-white;
    padding: $space-16 0;

    &__title {
      text-align: center;
      font-size: 3.125rem;
      font-weight: 800;
      margin: 0;
      letter-spacing: -0.01em;
      margin-bottom: $space-14;
    }

    &__grid {
      display: grid;
      grid-template-columns: minmax(260px, 1fr) 90px minmax(260px, 1fr);
      position: relative;
      max-width: 712px;
    }

    &__vertical-decor {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 0;
      pointer-events: none;
      width: auto;
      max-height: 100%;
    }

    &__card-heading {
      margin: 0 0 $space-4;
      font-size: 1.125rem;
      font-weight: 600;
      letter-spacing: 0.06em;
    }

    &__card-text {
      margin: 0;
      font-size: 1rem;
      letter-spacing: 0.05em;
      padding-bottom: $space-3;
    }

    &__node {
      grid-column: 2;
      display: grid;
      place-items: center;
      height: 150px; /* adjust to match spacing */
      z-index: 1;
      align-self: flex-end;
    }

    &__node-icon img {
      width: 40px;
      height: 46px;
    }
  }
}

.faq {
  padding: $space-16 0;

  &__container {
    display: grid;
    gap: $space-8;
  }

  &__title {
    margin: 0;
    text-align: center;
    letter-spacing: 0.05em;
    font-size: 1.25rem;
    font-weight: 800;
  }

  &__list {
    display: grid;
    margin: 0 auto;
  }

  &__item {
    &[open] .faq__icon {
      transform: rotate(180deg);
    }
  }

  &__question {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-14;
    padding: $space-2 $space-1;
    cursor: pointer;
    list-style: none;
    font-weight: 600;
    letter-spacing: 0.05em;
    font-size: 0.875rem;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__icon {
    width: 20px;
    height: auto;
    transition: transform 0.2s ease;
  }

  &__answer {
    padding: $space-5 $space-12 $space-3 $space-1;

    p {
      margin: 0;
      line-height: 1.6;
      font-size: 1rem;
    }
  }

  @media (min-width: 768px) {
    &__list {
      width: 100%;
      max-width: 700px;
    }
    &__question {
      font-size: 1rem;
    }
  }
  @media (min-width: 1024px) {
    &__list {
      max-width: 800px;
    }
    &__question {
      font-size: 1rem;
    }
  }
}
