@use './variables' as *;

.header {
    padding: $space-4 0;
    &__bar {
        display: grid;
        grid-template-columns: auto 1fr auto;
        align-items: center;
    }
    &__toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }
    &__logo {
        grid-column: 2;
        justify-self: center;   
        font-size: 1.25rem;
        font-weight: 700;
        color: $color-black;
        text-decoration: none;
        letter-spacing: 5%;
    }
    &__nav { display: none; }

    @media (min-width: 768px) {
        &__toggle { display: none; }}
}

.hero {
    position: relative;
    &__bg {
        height: 699px;
        background: center/cover no-repeat url('/images/main-img-mobile.jpg');
    }
    @media (min-width: 768px) {
        &__bg { 
            height: 1024px;
            background-image: url("/images/main-img-tablet.jpg"); }
      }

      @media (min-width: 1024px) {
        &__bg { 
            height: 700px;
            background-image: url("/images/main-img.jpg"); }
      }

      &__content {
        position: absolute;
        inset: 0;
        display: grid;
        place-content: center;
        justify-items: center;     
        text-align: center;
        grid-auto-rows: max-content;
        row-gap: 154px;  
        padding: 0 $space-8;
      }

      @media (min-width: 768px) {
        .hero__content { row-gap:260px; }
      }

      &__title {
        font-size: 3 rem;
        font-weight: 800;
        color: $color-white;
        letter-spacing: -1%;
    }

}
